/* CSS for all */
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Slab', serif;
}
body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
p{
    padding: 0px;
    margin: 0px;
    text-align: justify;
    text-justify: inter-character;
}
h1, h2, h3, h4, h5, h6{
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: inherit;
}
.text-center{
    text-align: center;
}
.text-uppercase{
    text-transform: uppercase;
}
.img-responsive{
    width: 100%;
}
.cursor-pointer{
    cursor: pointer;
}

.float-left{
    float: left;
}
.float-right{
    float: right;
}
.clear-both{
    clear: both;
}

.position-relative{
    position: relative;
}
.overflow-hidden{
    overflow: hidden;
}

.display-none{
    display: none;
}
.display-inline{
    display: inline;
}
.display-block{
    display: block;
}

.display-flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.align-items-center{
    align-items: center;
}
.align-items-baseline{
    align-items: baseline;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-start{
    justify-content: flex-start;
}
.justify-content-end{
    justify-content: flex-end;
}



/* CSS override bootstrap */
.dropdown-menu{
    padding: 0;
}



/* CSS for Header */
.header-top{
    color: #ffffff;
    background-color: #cd2122;
    padding: 0.3% 0px;
    font-size: 1rem;
}

.header-top-left ul, .header-top-right ul{
    padding: 0px 5px;
}
.header-top-left>ul>li>a:hover, .header-top-right>ul>li>a:hover{
    text-decoration: underline;
}
.header-top-left .dropdown-menu{
    padding: 0 10px 0 0;
    width: max-content;
    background-color: #F9FADC;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
}
.header-top-left .dropdown:hover .dropdown-menu{
    display: block;
    margin-top: -2px;
    left: 0;
}
.dropdown-menu ul li:hover a{
    color: #CD2122;
    text-decoration: underline;
    transition: all 0.35s;
}


/* CSS for Logo */
.logo{
    background: #f9fadc;
}


/* CSS for Navbar */
.navbar-p{
    background: #f9fadc;
    font-size: 1.3rem;
    color: #2B2823;
}
.navbar-content{
    border-top: 1px solid #cd2122;
}

.navbar-link{
    margin: 0px 3%;
}
.navbar-link>ul>li>a{
    position: relative;
    background-color: inherit;
    color: #2B2823;
}
.navbar-link>ul>li>a:hover{
    color: inherit;
}
.navbar-link>ul>li>a:before{
    content: "";
    visibility: hidden;
    transform: scaleX(0);
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 8px;
    background-color: #cd2122;
    transition: all 0.3s ease-in-out 0s;
}
.navbar-link>ul>li>a:hover:before{
    visibility: visible;
    transform: scaleX(1);
}

.offcanvas-body a:hover{
    color: #cd2122;
}
.offcanvas-body .row, .offcanvas-body .row [class*='col-']{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.offcanvas-body .row [class*='col-']{
    padding: 2% 0;
}

.navbar-search{
    margin: 1%;
    position: relative;
}
.navbar-search>.dropdown-menu{
    background-color: transparent;
    border: none;
    margin-top: 1%;
}
.navbar-search .input-group{
    width: 360px;
    padding: 2% 12%;
    margin: 8% 0px;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgb(0 0 0 / 20%);
}
.navbar-search .input-group>input{
    border: 1px solid rgba(0,0,0,0.1);;
    box-shadow: none;
}
.navbar-search .input-group>.btn{
    background-color: #cd2122;
    color: #ffffff;
    padding: 0px 10%;
    transition: all 0.35s;
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
}
.navbar-search .input-group>.btn:hover{
    background-color: #222 !important;
}

/* CSS for Footer */
.footer{
    color: #BBBBBB;
    margin-top: auto;
}

.footer-inner{
    background: #252429;
    padding: 2% 0px;
}
.footer-left-content .row div{
    padding: 1%;
}
.footer-left-content .row div h4{
    font-size: 0.8rem;
    color: #ffffff;
    padding: 7px 0px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif !important;
}
.footer-left-content .row div ul li{
    padding: 1% 0px;
}
.footer-left-content .row div ul li a:hover{
    color: #CD2122;
}
.footer-right h2{
    padding: 1% 0;
    font-size: 1.1rem;
    color: #ffffff;
    font-family: 'Roboto', Helvetica, Arial, sans-serif !important;
}

.footer-right-social{
    display: inline-block;
    width: 25px;
    height: 25px;
}

.copyright{
    background: #1F1E23;
    padding: 1% 0px;
}